

.modal {
	z-index: 10000;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	> div {
		width: 500px;
		padding: 16px;
		padding-bottom: 0;
		background: white;
		word-break: break-all;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
		> p {
			margin-bottom: 16px;
		}
		
	}
}