/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #160740  ;
  --primary-hover: #160740DD;
  --primary-focus: #16074044;
  --primary-inverse: #FFF;
  --form-element-border-color: #DDD;
  --border-radius: 8px;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #160740;
    --primary-hover: #160740DD;
    --primary-focus: #16074044;
    --primary-inverse: #FFF;
	--form-element-border-color: #DDD;
	--border-radius: 0;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #160740;
  --primary-hover: #160740DD;
  --primary-focus: #16074044;
  --primary-inverse: #FFF;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.web-share-fade-in-up > button {
	background: var(--primary) !important;
}