
h1, h2, h3, h4, h5, p, button {
	font-family: 'Inter', sans-serif !important;
	margin-bottom: 16px !important;
}

a {
	text-decoration: underline;
}

.container {
	max-width: 400px !important;
}

.small {
	font-size: 0.8rem;
}

input {
	height: 48px !important;
	padding: 0 16px !important;
}

button {
	font-weight: bold !important;
	font-size: 0.8rem !important;
	text-transform: uppercase !important;
	height: 48px;
	line-height: 48px;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	background: #210E01;
	> svg {
		margin-right: -5px;
	}
	&.secondary {
		background: none;
		border-color: #eee;
		color: var(--primary);
	}
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

header {
	height: 220px;
	background: radial-gradient(50% 50% at 50% 50%, #220F02 0%, #000000 100%);
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	> div {
		max-width: 500px !important;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		> img {
			margin: 16px 0;
		}
	}
}

main {
	flex: 1;
	margin-bottom: 32px;
}

footer {
	height: 220px;
	background: radial-gradient(50% 50% at 50% 50%, #220F02 0%, #000000 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	> div {
		width: 400px;
		max-width: 400px !important;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		> img {
			margin: 16px 0;
		}
		> button.secondary {
			color: white;
			border: none !important;
			text-decoration: underline;
			text-align: left;
			display: block !important;
			padding-left: 0;
			padding-right: 0;
			&:nth-child(2) {
				text-align: right;
				padding-right: 0;
			}
		}
	}
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}